/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

.text-align-center {
  text-align: center;
}

.t-a-c {
  text-align: center;
}

.align-item-center {
  align-items: center;
}
